[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
scipy = "*"
python-dotenv = "*"
tensorflow-macos = "==2.16.2"
tensorflow-metal = "<2.0,>=1.1"

[dev-packages]
ipython = "*"
matplotlib = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
